@import "tailwindcss";

.goog-te-combo {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  background: white;
  color: black;
}

.goog-te-gadget span {
  display: none;
}
